@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>

The data viewbag
initialData : @ViewBag.initialData
<br />
data2 : @ViewBag.data2 

<br />


@Html.ActionLink("link text", "Contries", "Home", new { id = "123" }, null)


<br />

@Html.ActionLink("Contries", "Index", "Country")
<br />
@Html.ActionLink("Employees", "Index", "Employee")